/*@font-face {
    font-family: "mplus";
    src: url("./assets/fonts/rounded-x-mplus-1c-light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: "mplus";
    src: url("./assets/fonts/rounded-x-mplus-1c-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
} /*
@font-face {
    font-family: "mplus";
    src: url("./assets/fonts/rounded-x-mplus-1c-heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
} 
@font-face {
    font-family: "mplus";
    src: url("./assets/fonts/rounded-x-mplus-1c-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
} */

html, body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

:root {
    --live2d_canvas_height_ratio: 0.69;
    --background_aspect : 1.7777777777777777; /* 1920 / 1080 */
    --upper_hukidasi_limit_aspect : 2.0;
    --hukidasi_char_interval_ms : 100; 
}

#sealview {
    width: 100vw;
    height: 100vh;
    min-width: var(--min-width);
    position: relative;
    display: flex;
    justify-content: center;
}

.background_container {
    position: relative;
    display: flex;
    justify-content: center;
}

.background_container video {
    position: absolute;
    bottom: 0;
    opacity: 0; /* 始めは表示しない。JSで制御する */
    transition: opacity 4s;
    z-index: 0;
}

#live2d_canvas {
    position: absolute;
    bottom : 11.5%;
    margin-right: 3.75%;
    z-index: 100;
    opacity: 0; /* 始めは表示しない。JSで制御する */
    transition: opacity 2s;

}

.hukidasi_container {
    transform: opacity 1s;
    opacity: 0; /* 始めは表示しない。JSで制御する */
}

#upper_hukidasi_container {
    position: absolute;
    top : 0.5%;
    width: 60vh;
    height: 25vh;
    margin-right: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upper_hukidasi_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.upper_hukidasi_text_contrainer {
    width: 80%;
    height: 70%;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#upper_hukidasi_text {
    font-family: "mplus";
    font-size: 3vh;
}

#side_hukidasi_container {
    position: absolute;
    bottom: 32%;
    right: 72%;
    width: 20vw;
    height: 22.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side_hukidasi_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.side_hukidasi_text_contrainer {
    width: 80%;
    height: 70%;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

#side_hukidasi_text {
    font-family: "mplus";
    font-size: 1.4vw;
}