@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "mplus";
  src: url("./fonts/rounded-x-mplus-1c-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "mplus";
  src: url("./fonts/rounded-x-mplus-1c-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  overflow: hidden;
  background-color: black;
  
  font-family: "mplus";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
