@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  user-select : none;
  overflow: hidden;
  background-color: black;
  
  font-family: '"M PLUS Rounded 1c"';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
